/* h1{
  color: aqua;
}
p{
  color: red;
}
a{
  color: green;
} */
/* *{
  background-color: burlywood;
} */
/* *{
  font-family:Georgia, 'Times New Roman', Times, serif
} */
/* .parent_div h1,nav{ 
  background-color: blue;
}
#child_div1{
  background-color: red;
}
#child_div2{
  background-color: blueviolet;
}
#child_div2 > p{
  text-align: center;
  font-size: 30px;
} */
nav {
  width: 200px;
  /* margin-left:10px;
  margin-top: 20px; */
  margin: 20px 0px 30px 30px; /*top right bottom left*/
  /*margin:20px 20px topbottom leftright*/
  border: 1px solid black;
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#child_div2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  border: 1px solid black;
}